body{
    margin: 0%;
    background-color: rgb(155, 220, 155);
}  
.navSobre {
    background-color:rgb(4, 58, 16);
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content:space-between;
    }
    .navSobre img{
        height: 100%;   
    }
    .navSobre .links a{
        width: 30%;
        color: rgb(109, 214, 109);
        text-decoration: none;
        justify-content: space-evenly;
    }
    .historia{
        width: 100%;
        height: 50vh;
        margin-left: 5%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 2%;
    }
    .historia .caixaTexto{
        width: 13%;
        height: 80px;
        background-color: rgb(12, 65, 12);
        display: flex;
        align-items: center;
    }
    .historia .caixaTexto h1{
        margin-left: 5%;
    }
    .historia h1{
        color: green;
    }
    .historia img{
        width: 30%;
        height: 200px;
        align-items: center;
    }
    .texto{
        width: 50%;
        height: px;
        margin-left: 5%;
        margin-bottom: 200px;
    }
    .texto h3{
        color:green;
        margin-left: 30%;
    }
    .texto h4{
        color: green;
    }
   .texto .missao img{
   margin-left: 15%;
   }
   .texto .nossoCafe img{
    margin-left: 15%;
   }